/* General reset */


@font-face {
    font-family: 'roboto';
    src: url('assets/roboto-regular-webfont.woff2') format('woff2'),
         url('assets/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {margin: 0;
    padding: 0;
    box-sizing: border-box;
    
     font-family:'roboto';  
    }


body{height: 100vh;}

.page-container
{display:grid;
    grid-template-columns: 1fr 3.5fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
    width: 70vw;
    margin: auto;
    background-color: red;
}

.sidebar
{background-color: green;
grid-row: 1/3;}

.header
{display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 10rem;
    background-color: blue;
;
}



.main-content
{display: grid;
    grid-template-columns: 2.5fr 1fr;
    background-color: yellow;
    }


.your-projects
{display: grid;
    align-items:center; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: orange;
       gap:1.2rem;  
       margin: 2.7rem 1.2rem 2.7rem 1.2rem;
    /* padding: 1.5rem 1.5rem 1.5rem 1.5rem;  */
}


.anns-plus-trending
{display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: pink;}


.announcements
{display: grid;
grid-template-rows: repeat (3, 1fr) ;
margin: 2.7rem 2rem 2rem 0;
border: 1px solid black;
}

.trending
{background-color: blueviolet;
    display: grid;
grid-template-rows: repeat (4, 1fr) ;}


ul
{list-style: none;}

.proj,
.announcements p
/* {padding-bottom: 0.5rem;  */
{background-color: pink;
   
   }

    .announcements p
    { font-size: 0.8rem;
     
    }

 
hr {margin-left: 1rem;
margin-right: 1rem;
height: 0.1rem;}

   

    .proj
     {padding: 2rem; 
    border-radius: 8px;
    width: 22rem;
border-left: 0.8rem solid black;
height: 100%;
width: 100%;
}

    .proj-icons
    {display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   /* background-color: blue;  */
   margin-left: 7rem;
   /* margin-top: 1rem; */
  justify-items: end;
  justify-content: end;
  height: 1.2rem;
  gap: 1.5rem;
 
}

.proj p:last-child
{
    padding-bottom: 2rem;
width: 16rem;
}

svg {
    height: 2rem;
    
    1px black solid;
} 

    .proj-header
    {font-weight: bold;}


.header
{display: grid;
    padding: 1.5rem 2rem 1.5rem 2rem;
}

.header-top-left
{justify-self: left;
align-self:self-start ; 
align-items: center;
border-radius: 8px;
display: grid;
grid-template-columns: 1fr 5fr;
gap: 0.8rem;}

.header-top-left-textbox
{background-color: grey;
display: grid;
align-self: center;
height: 2rem;
width: 38rem;
border-radius: 12px;}


.header-bottom-left
{justify-self: left;
align-self: self-end;
background-color: red;
display: grid;
grid-template-columns: 1fr 8fr;
gap: 0.8rem;

}




.header-top-right
{display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    justify-self: right;
align-self:self-start ;
gap: 1rem;}

.header-bottom-right
{display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1.5rem;
    
    justify-self: right;
    align-self:self-end ;}



    .header-top-right-text
    {align-self: center;}


   button {padding: 0.5rem 1rem;
    border-radius: 1rem;}



.sidebar-list-item,
.sidebar p
{
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
}


.sidebar-text
{align-self:flex-start;
    margin-top: 5px;
margin-left: 0;
padding-left: 0;}


a {margin-left: 0;}


img
 /* {align-self: flex-start;  */
    {height: 3rem;

padding: 0;
margin: 0;
height: 1.5rem;}

.sidebar-list-icon-dashboard
{height: 2.5rem ;}
    /* background-color: aqua;} */
/* justify-self: self-end;} */




ul
{margin-top: 4rem
    ;}

    li {margin-top: 1rem;
    margin-left: 2rem;}




.dashboard-text-plus-icon
{display: grid;
    grid-template-columns: 1fr 5fr;
    
    margin-left: 0.5rem;
    margin-top: 1rem;
    margin-left: 1.5rem;}

    .dashboard-text-plus-icon p
    {margin-left: 0.25rem;
        justify-self: center;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .big-avatar
    {height: 3rem;}

    .sidebar-text
    {font-size: 1.1rem;}

    .announcement-header
    {font-size: 2.9rem;
    background-color: green;}

    .announcement1,
    .announcement2,
    .announcement3


    {padding: 1rem;}