/* General reset */

* {margin: 0;
    padding: 0;
    box-sizing: border-box;
    
     font-family:'roboto';  
    }

    /*Color variables*/
    :root{

--darkBlue:#1e3a8a;
--projectsBlue:#bfdbfe;
--projLeftBorder: #be185d;
--inputGray: #d4d4d4;
--boxShadow: #93c5fd;

    }



@font-face {
    font-family: 'roboto';
    src: url('assets/roboto-regular-webfont.woff2') format('woff2'),
         url('assets/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {height: 100vh;
background-color: black;}


.page-container
{display:grid;
    grid-template-columns: 1fr 3.5fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
    width: 70vw;
    margin: auto;
    background-color: white;
    overflow: hidden;
    
}

/*SIDEBAR*/
.sidebar
{background-color: var(--darkBlue);
grid-row: 1/3;}

.sidebar-list-item,
.sidebar-text
{
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
}


.sidebar-text
/* {align-self:flex-start; */
  {
margin-left: 0.3rem;
padding-left: 0;
color: white;
font-weight: bold;}


.sidebar-dashboard-icon
{height: 2.5rem ;
}
    /* background-color: aqua;} */
/* justify-self: self-end;} */
.sidebar-dashboard-text
{color: white;
justify-self: left;}

ul
{list-style: none;}

a {margin-left: 0;
    text-decoration: none;}



    ul
    {margin-top: 4rem
        ;}
    
        li {margin-top: 1rem;
        margin-left: 2rem;}
    
    
    .dashboard-text
    {color: white;}
    
    .dashboard-text-plus-icon
    {display: grid;
        grid-template-columns: 1fr 9fr;
      
        margin-left: 0.5rem;
        margin-top: 1rem;
        margin-left: 1.5rem;}
    
        .dashboard-text-plus-icon p
        {margin-left: 1rem;
            
            font-size: 1.5rem;
            font-weight: bold;
        }





/* HEADER */
.header
{display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 10rem;

}

.header
{display: grid;
    padding: 1.5rem 0 1.5rem 2rem;
    box-shadow: 0px 4px 2px var(--boxShadow);
    position: relative;
z-index: 10;
    
}

.header-top-left
{justify-self: left;
align-self:self-start ; 
align-items: center;
border-radius: 8px;
display: grid;
grid-template-columns: 1fr 5fr;
gap: 0.8rem;}


.header-bottom-left
{justify-self: left;
align-self: self-end;
display: grid;
grid-template-columns: 1fr 8fr;
gap: 0.8rem;

}


.header-top-right
{display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    justify-self: right;
align-self:self-start ;
gap: 1rem;
margin-right: 4rem;}

    .header-top-right-text
    {align-self: center;
    font-weight: bold;}


    .header-bottom-left-text1
    {font-size: 0.7rem;
    font-weight: bold;}

    .header-bottom-left-text2
    {
    font-weight: bold;
font-size: 1.2rem;}


.header-bottom-right
{display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1.5rem;
    margin-right: 3rem;
    justify-self: right;
    align-self:self-end ;
}

.header-bottom-left-text-container
    {align-self: center;}



    .big-avatar
    {height: 3rem;}


input
{height: 1rem;
    background-color: var(--inputGray);    
border-color: transparent;
display: grid;
align-self: center;
height: 2rem;
width: 38rem;
border-radius: 1rem;
}





button {padding: 0.5rem 1rem;
border-radius: 2rem;
font-weight: bold;
background-color: var(--darkBlue);
color: white;
border: transparent;}




/* MAIN-CONTENT */
.main-content
{display: grid;
    grid-template-columns: 2.5fr 1fr;
   
    background-color: var(--projectsBlue);
    gap: 0.2rem;
    }


/* PROJECTS */

.your-projects
{display: grid;
    align-items:center; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
       gap:1.2rem;  
       margin: 0.1rem 1.2rem 2.7rem 1.2rem;
}

.your-projects-heading

    {font-size: 1.2rem;
        margin-right: 8rem;
        margin-left: 1.2rem;
        font-weight: bold;
    } 

    .project-text
    {font-size: 0.9rem;
    }


    .proj
     {padding: 1.5rem; 
    border-radius: 8px;
    width: 22rem;
border-left: 0.6rem solid var(--projLeftBorder);
height: 100%;
width: 100%;
}

    .proj-icons
    {display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   margin-left: 8rem;
   margin-top: 2.3rem; 
  justify-items: end;
  justify-content: end;
  height: 1.6rem;
  gap: 0.5rem;
 
}

.proj p:last-child
{
    padding-bottom: 2rem;
width: 16rem;
}


    .proj-header
    {font-weight: bold;
    font-size: 1rem;}



/* CROSS-SECTION-SELECTORS */
    .proj,
    .announcements,
    .trending-container

    {
        box-shadow: 4px 4px 2px var(--boxShadow);
        background-color:white;}




/* ANNOUNCEMENTS + TRENDING */
.anns-plus-trending
{display: grid;
grid-template-rows: 2fr 0.6fr 1.5fr;
margin: 0 2rem 2.7rem 0 ;
gap: 0.1rem; 
height: 34.5rem;
}




.trending-container
{background-color: white;
    display: grid;
grid-template-rows: 1fr;
margin-bottom: 2.5rem;
gap: 0.3rem;

border-radius: 8px;
}

.trending-icon
{height: 2.5rem;}



.announcements p
    { font-size: 0.8rem;
     
    }

 
img
    {height: 3rem;
padding: 0;
margin: 0;
height: 1.5rem;}


    .announcement1,
    .announcement2,
    .announcement3

    {padding: 1.2rem 1.2rem 1.2rem 1rem;
    }


    .announcement1{
    padding: 1.2rem 1.2rem 1.2rem 1rem;}

    
    .trending
    {margin: 0 auto 0.9rem 1rem ;
        display: grid;
        grid-template-columns: 1fr 3fr;
  
    
} 
.trend-text1
{font-weight: bold;}

.trend-text2
{font-size: 0.9rem;}

    .announcements
    {display: grid;
        grid-template-rows: 42fr 1fr 42fr 1fr 42fr;
        border-radius: 8px;
    background-color: white;
}

     
     

    .announcements-text
    {font-size: 1.2rem;
        width: 10rem;
    }





.trending-text
{margin-top: 3.1rem;
    font-size: 1.2rem;
    font-weight: bold;
   align-self: center;
   padding-bottom: 0;
    }

    .trending1

{margin-top: 0.9rem;}

.projs-and-announcements
{display: grid;
    grid-template-columns: 2fr 0.8fr;
    grid-column: 1/4;
margin-top: 1.7rem;

}



    .announcements-text
    {font-weight: bold;}



    .trending-text-container-extra-margin
    {margin-left: 0.5rem;}

    .trending-text-container

    {margin-left: 0.5rem;}

    

    hr {width:90%;
    height: 1px;
    margin: auto;
color: var(--boxShadow);}